<flex-box column gap="10px" class="card">
  <a href="/" class="link-wrapper"></a>
  <flex-box class="card-header" center gap="5px">
    <span class="date">16.03.24 18:00</span>
    <span>|</span>
    <span class="status">ממתין</span>
  </flex-box>
  <flex-box center class="image-wrapper">
    <img src="../../assets/clearing.jpeg" alt="Cleaning Image" class="card-image">
  </flex-box>
  <flex-box column center class="card-content">
    <flex-box jc="space-between" gap="150px" class="card-content-header">
      <span class="card-content-header-order">הזמנה 452588446</span>
      <span class="card-content-header-title">ניקיון משרד</span>
    </flex-box>
    <div class="card-content-body">
      <a href="/" class="location">
        <span class="label">כתובת</span>
        <span class="value">
           דרך מנחם בגין 7 רמת גן, קומה ג', חברת אנאייס 33</span>
        <img src="../../assets/location.svg" alt="location" width="10px"/>
      </a>
      <flex-box row class="card-stats">
        <flex-box column center>
          <span class="stat-value">50</span>
          <span class="stat-label">מ"ר חלונות</span>
        </flex-box>
        <flex-box column center>
          <span class="stat-value">115</span>
          <span class="stat-label">מ"ר קירות זכוכית</span>
        </flex-box>
        <flex-box column center>
          <span class="stat-value">380</span>
          <span class="stat-label">מ"ר רצפות</span>
        </flex-box>
      </flex-box>
    </div>
  </flex-box>

</flex-box>
