@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

main {
  font-family: Rubik, Regular;
}
