<style>
  .main {
    background: #9b9797;
    padding: 20px;
  }
</style>

<main class="main">
  <div class="content">
    <!-- <app-counter-card label="הכנסה צפויה" ></app-counter-card>
    <s-box h="50px"></s-box>
    <app-card></app-card> -->
    <!-- <s-box h="50px"></s-box>
    <app-slider [slides]="clearingSlides"></app-slider> -->
    <s-box h="50px"></s-box>
    <app-button buttonStyle="white-button">סמן כלא נקרא</app-button>
    <app-button buttonStyle="yellow-button">לדף ההזמנה</app-button>
  </div>
</main>

<router-outlet />
