.notification-card {
  display: flex;
  align-items: flex-start;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .time {
    margin-right: 10px;
    font-size: 12px;
    color: #212121;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .title {
      font-size: 14px;
      font-weight: bold;
      margin-left: auto;
    }

    .message {
      padding-top: 5px;
      font-size: 11px;
      color: #212121;
      text-align: end;
    }
  }
}
